/*-- scss:defaults --*/
$primary: #004a94;
$info: #00A3E0;
$warning: #F2A900;
$danger: #EE2737;
$success: #00A3E0;

/*-- scss:rules --*/

ul li ul {
  margin-bottom:0em;
}
ol li ol {
  margin-bottom:0em;
}

blockquote p {
  color: $info;
}

blockquote li {
  color: $info;
}

h1, h2, h3 {
  color: $primary;
}
